{{#if view.folderlist}}
 <ul>
     {{#each folder in view.folderlist}}
     <li>{{view App.PolyView node=folder}}
     {{#if folder.subtree}}
         {{view App.PolyFolderView folderlist=folder.subtree}}
     {{/if}}
     </li>
     {{/each}}
 </ul>
{{/if}}
