{{#if view.folderlist}}
 <ul>
     {{#each folder in view.folderlist}}
     <li>{{view App.PolyView node=view.folder}} | {{folder.name}}
     {{#if folder.subtree}}
         {{nested-folder folderlist=folder.subtree}}
     {{/if}}
     </li>
     {{/each}}
 </ul>
 {{/if}}
