   {{#if folderlist}}
    <ul>
        {{#each folder in folderlist}}
        <li>{{view App.PolyView node=folder}}
        {{#if folder.subtree}}
            {{nested-folder folderlist=folder.subtree}}
        {{/if}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
